@import url("https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: url("image/teladefundo.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Domine", serif;
}
header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0%;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
nav a {
  text-align: right;
}
header nav a:hover {
  color: #fff;
}
.principal-info {
  text-align: center;
}
div.container .champions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
div.champions {
  align-items: center;
}
.champions {
  display: flex;
  border: groove 3px rgba(7, 7, 7, 0.8);
  margin: 10px, 5px, 10px, 5px;
}
.champions .card:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
  transition-delay: 0.2s;
}
.champions .container {
  display: inline;
  margin: 20px 80px 20px 80px;
}
div.card {
  display: inline-table;
  width: 28%;
  margin-bottom: 20px;
  margin-right: 25px;
}
.card img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.nomedocampeao {
  display: flex;
  justify-content:center;
  width: auto;
  height: auto;
  font-size: 13px;
  border-radius: 10px;
  background: rgba(66, 105, 62, 0.5);
  color: rgb(226, 226, 226);
}
